body{
    text-align: center;
    background-color: aquamarine;
}
h1{
    
    color: black;
    background-color: aquamarine;
    font-size: 50px;
}
p{
font-size: 30px;
color: darkmagenta;
}